.app {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #000000;
  position: relative;
  overflow-x: hidden;
}

/* 태블릿 */
@media (min-width: 768px) {
  .app {
    max-width: 600px;
  }
}

/* 데스크탑 */
@media (min-width: 1024px) {
  .app {
    max-width: 430px;
  }
}
